body,
html,
* {
  margin: 0;
  padding: 0;
}

body,
html {
  background-color: #443d40;
  color: white;
  font-weight: 200;
  font-family: 'Roboto Condensed', sans-serif;
  overflow-x: hidden;
}

-webkit-scrollbar {
  display: none;
}
